body {
  font-family: sans-serif;
  margin: 20px;
  margin-top: 60px; }

#pick-side {
  padding-top: 75px;
  height: 500px;
  background-color: white;
  border-style: solid;
  border-width: thin; }

#default-result-side {
  height: 500px;
  color: green;
  background-color: #DCDCDC;
  font-size: 2rem; }

#intro-text {
  position: absolute;
  top: 10%;
  left: 10%; }

#submit-button {
  float: right;
  margin: 15px; }

#birth-result-side {
  height: 500px;
  color: yellow;
  background-color: skyblue;
  font-size: 2rem; }

#birth-result-side img {
  width: 50%; }

#death-result-side {
  height: 500px;
  color: #F5F5F5;
  background-color: black;
  font-size: 2rem; }

#death-result-side img {
  width: 50%; }
